[Unit]
Description=Nexus service for home lab
After=network.target

[Service]
Type=forking
LimitNOFILE=65536
TasksMax=300
ExecStart={{ nexus_base_dir }}/nexus-{{ nexus3_version }}/bin/nexus start
ExecStop={{ nexus_base_dir }}/nexus-{{ nexus3_version }}/bin/nexus stop
User={{ nexus_user }}
Restart=on-abort

[Install]
WantedBy=multi-user.target